<!-- <table class="table table-striped">
    <thead>
     <tr>
        <th scope="col">Product Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Description</th>
        <th scope="col">Product Price</th>
        <th scope="col">Product Brand</th>
        
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let i of product" >
     <tr >
      <td>{{i.ProductCode}}</td>
        <td>{{i.ProductName}}</td>
        <td>{{i.ProductDescription}}</td>
        <td>{{i.ProductPrice}}</td>
         <td>{{i.ProductBrand}}</td>
     
        <td>
         <button class="btn btn-danger" (click)="Delete(i.ProductId)">Delete</button>
      </td>         
      </tr>
       </tbody> 
  </table>

  <button class="btn btn-primary" [routerLink]="['/add-product']">Add new Product</button>
  <router-outlet></router-outlet>
   -->
