<div class="container" style="margin-left: 200px; text-align: center;">   
    <div class="col-md-10">
    <div class="card">
      <div class="card-body">
            <h4>Product Details</h4>
        <form [formGroup]="ProductFormGroup" style="margin-top:50px">
            <div class="form-group row">
              <label  class="col-sm-5 col-form-label">Product Name</label>
              <div class="col-sm-7">
                <input type="text" formControlName="ProductName" >
              </div>
            </div>
            <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Product Code</label>
                <div class="col-sm-7">
                  <input type="text" formControlName="ProductCode" >
                </div>
              </div>
              <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Product Description</label>
                <div class="col-sm-7">
                  <input type="text" formControlName="ProductDescription" >
                </div>
              </div>
              <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Product Brand</label>
                <div class="col-sm-7">
                  <input type="text" formControlName="ProductBrand" >
                </div>
              </div>

              <div class="form-group row">
                <label  class="col-sm-5 col-form-label">Product Price</label>
                <div class="col-sm-7">
                  <input type="text" formControlName="ProductPrice" >
                </div>
              </div>
            
              <div class="form-group row">
                
                <div >
                 <button class="btn btn-success" (click)="AddProduct()" style="margin-left: 300px;">Add Product</button>
                </div>
              </div>
              
  
  
          </form>
      </div>
    </div>
  </div>
  
  </div>
  <router-outlet></router-outlet>
