<body>
    <form [formGroup]="customerLoginFormGroup">
      <h4 style="color:#3ba436;">LOGIN FORM!!</h4><br/>
     <div class="row">
       <label class="col-lg-6">
        <p class="label-txt" >ENTER YOUR EMAIL</p><br/>
        <input type="text" class="input" formControlName="Email">
        <div class="line-box">
          <div class="line"></div>
        </div>
       </label></div>
     <button type="submit" (click)="check()">submit</button>
     <label>
     <p class="label-txt">Don't have an account??<a routerLink="/signup">Create account</a></p></label>
        
    </form></body>
    <router-outlet></router-outlet>

